*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    background-color: rgb(255, 255, 253);

 }



video{
    border-radius: 10px;
    margin: auto;
}
 
.lead{
text-align: center;

} 

/*-------------------------------
backgroung naviagtion 
-----------------------*/
.bg{
    background-color: rgb(0, 0, 0);
}

/*********
navigation css mga sir 
*************/
.nav-items a:hover{
width: 300px;
border: none;
color: white;
background-color: rgb(225, 221, 0);
border-radius: 4px;
box-shadow: inset 0 0 0 0 #7b8441;
transition: ease-out 0.3s;
outline:none;
}


.nav-items a:hover{
box-shadow: insert 100px 0 0 0 #919d14;
cursor: pointer;
color: black;
}


/*********************************************************
css para sa sa loob lahat ng video section***************/


.container{
padding:0;
max-width: 1500px;
margin:10px auto;
display: flex;
flex-wrap: wrap;
align-items: flex-start;
gap:10px;
}

.container .main-video-container{
flex:1 1 900px;
border-radius: 5px;
box-shadow: 0 5px 15px rgba(0,0,0,.1);
background-color: rgb(255, 255, 255);
padding:5px;
}

.container .main-video-container .main-video{
margin-bottom: 7px;
border-radius: 5px;
width: 100%;
}

.container .main-video-container .main-vid-title{
font-size: 20px;
color:#444;
}

.container .video-list-container{
flex:1 1 350px;
height: 485px;
overflow-y: scroll;
border-radius: 5px;
box-shadow: 0 5px 15px rgba(0,0,0,.1);
background-color: #fff;
padding:15px;
justify-content: center;
}

.container .video-list-container::-webkit-scrollbar{
width: 10px;
}

.container .video-list-container::-webkit-scrollbar-track{
background-color: #fff;
border-radius: 5px;
}

.container .video-list-container::-webkit-scrollbar-thumb{
background-color: #444;
border-radius: 5px;
}

.container .video-list-container .list{
display: flex;
align-items: center;
justify-content: center;
gap:15px;
padding:10px;
background-color: #eee;
cursor: pointer;
border-radius: 5px;
margin-bottom: 10px;
}

.container .video-list-container .list:last-child{
margin-bottom: 0;
}

.container .video-list-container .list.active{
background-color: #444;
}

.container .video-list-container .list.active .list-title{
color:#fff;
}

.container .video-list-container .list .list-video{
width: 100px;
border-radius: 5px;
}

.container .video-list-container .list .list-title{
font-size: 17px;
color:#444;
}



@media (max-width:1200px){

.container{
margin:0;
}

}

@media (max-width:450px){

.container .main-video-container .main-vid-title{
font-size: 15px;
text-align: center;
}

.container .video-list-container .list{
flex-flow: column;
gap:10px;
}

.container .video-list-container .list .list-video{
width: 100%;
}

.container .video-list-container .list .list-title{
font-size: 15px;
text-align: center;
}

}


/*------------------------
para sa  sa text ng p- paragraph sa class ng radiostaion
------------------------------------------------*/

.radiostation{

text-align:justify
}


.radio{
position: relative;
height: 100vh;
width: 100%;
overflow:hidden;

}

@media (min-width:1400px){

.radio_heading{
    font-size: 3.2rem;
}
}


.radio_content{
z-index:1;
}


.radios_content-width a:hover{

width: 500px;
border: yellow;
color: rgb(0, 0, 0);
background-color: rgb(225, 221, 0);
border-radius: 4px;
box-shadow: inset 0 0 0 0 #2c3302;
transition: ease-out 0.3s;
outline:none;
}
.radio_content-width a:hover{

box-shadow: inset 100px 0 0 0 #919d14;
cursor: pointer;
color: black;
}



/* .radio_scroll-btn{
position:absolute;
left:50%;
bottom:50px;
transform: translateX(-50%);z-index: 1;
color: white;
display: flex;
flex-direction: column;
align-items: center;
text-decoration: none ;
}
.radio_scroll-btn:hover{
color:white;
opacity:0.8;
} */


/*--------------------------------------------------------------
# Facts po to sir 
--------------------------------------------------------------*/
.facts {
padding-bottom: 30px;
}

.facts .count-box {
padding: 40px;
width: 100%;
}

.facts .count-box i {
display: block;
font-size: 44px;
color: #2600ff;
float: left;
line-height: 0;
border-color: black;
}

.facts .count-box span {
font-size: 48px;
line-height: 40px;
display: block;
font-weight: 700;
color: #050d18;
margin-left: 60px;
}

.facts .count-box p {
padding: 15px 0 0 0;
margin: 0 0 0 60px;
font-family: "Raleway", sans-serif;
font-size: 14px;
color: #122f57;
}

.facts .count-box a {
font-weight: 600;
display: block;
margin-top: 20px;
color: #122f57;
font-size: 15px;
font-family: "Poppins", sans-serif;
transition: ease-in-out 0.3s;
}

.facts .count-box a:hover {
color: #1f5297;
}

/*--------------------------------------------------------------
# /*Animation sa  mag images mga sir gamitan natin ng shine na animation*/

--------------------------------------------------------------*/

figure {
position: relative;
}
figure::before {
position: absolute;
top: 0;
left: -75%;
z-index: 2;
display: block;
content: '';
width: 30%;
height: 100%;
background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
-webkit-transform: skewX(-25deg);
transform: skewX(-25deg);
}
figure:hover::before {
-webkit-animation: shine .75s;
animation: shine .75s;
}
@-webkit-keyframes shine {
100% {
left: 125%;
}
}
@keyframes shine {
100% {
left: 125%;
}
}



/*----------------------------------------------------------
css and hover para sa ating image mga sir 
------------------------------------------------------------*/
.image {
border: 2px solid rgb(238, 255, 0);
width: 100%;
height: 184px;
overflow: hidden
}

.image img {
width: 100%;
height: 300;
transition: all 2s ease-in-out
}

.image:hover img {
transform: scale(2, 2);
cursor: pointer
}

/*------------------------------------------------------------------ 
---------------------------------------------------------------------
.radio_scroll-btn .bx{
transition-delay:0.8s;
animation: bounce 1s infinite alternate;
}
@keyframes bounce {
from{
    transform: translateY(0px);
}
to{
    transform: translateY(-10px);
}
}
*/
/* para sa animation ng scroll bar sa id na kapag icliclik niy amy aninamation sa pagbaba
html{scroll-behavior: smooth;} */



/*CUSTOMEr container css doon sa html */
.container-custom{
width:100%;
padding: 0 5rem;
margin:0 auto;

}


@media (min-width: 1200px){
.container-custom{width:1140px}
}

@media (min-width: 1400px){
.container-custom{width:1340px}
}

@media (min-width: 1600px){
.container-custom{width:1520px}
}


/*para sa mga devices sa media query
@media (min-width: 544px){}
@media (min-width: 768px){}
@media (min-width: 922px){}
@media (min-width: 1200px){}
@media (min-width: 1400px){}
@media (min-width: 1600px){}
@media (min-width: 2100px){}
*/


/* css para sa section na sa body */ 
.radios{

padding-top:40px;
padding-bottom:40px;

}
.radio_section-thumbnail{
height: auto;
object-fit:cover;
margin:0  auto;
}



.radios_content-width{
max-width:456px;
margin: 0 auto;
}


.radio-background{

background-color: #fffdee;
}


@media (min-width:544px){
.radios {

padding-top:40px;
padding-bottom:40px;
}

.radio_section-thumbnail{
height: auto;
object-fit:cover;
}
}

.input-group-text i:hover{
width: 100px;
border: none;
color: white;
background-color: rgb(225, 221, 0);
border-radius: 4px;
box-shadow: inset 0 0 0 0 #7b8441;
transition: ease-out 0.3s;
outline:none;
}


.input-group-text i{
box-shadow: insert 100px 0 0 0 #919d14;
cursor: pointer;
color: black;
}

/*CSS PARA SA  ATING TESTIMONIAL*/
.card {
border-radius: .7rem;
}
/* ito namn para Footer mga lods 
*/
.footer .border-highlight {
border-top: 1px solid ;
}

 .testimonial{
    display: flex;
    justify-content: center;
 }