@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

:root{
  --lg-font: 'Kaisei Tokumin', serif;
  --sm-font: 'Poppins', sans-serif;
  --blue: rgba(38, 38, 38, 0.59);
}

.bg{
  width: 100px;
}

body{
  font-family: var(--sm-font);
}

/*button*/
.bg-primary{
  background-color:var(--blue)!important ;
}

.btn:not(.nav-btns button){
  background-color: #fff;
  color: rgb(85, 85, 85);
  padding: 10px 28px;
  border-radius: 25px;
  border: 1px solid rgb(85, 85, 85);
}

.btn:not(.nav-btns button):hover{
  background-color: var(--blue);
  color: #fff;
  border-color:var(--blue);

}

/*text color*/
.text-primary{
  color: var(--blue)!important;

}

.navbar{
  box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
}

.navbar-brand img{
  width: 60px;
}

.navbar-brand span{
  letter-spacing: 2px;
  font-family: var(--lg-font);
  color: white
}


.nav-link-hover{
  color: var(--blue)!important;
}
.nav-item{
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);
  justify-content: right;
}

.fa{
  color: white;
}

/*header*/
#header{
  background: url(../images/background.jpg) top/cover no-repeat;
  background-attachment:fixed;

}

.carousel-inner h1{
  font-size: 60px;
  font-family: var(--lg-font);
}
.carousel-item .btn{
  border-color: #fff!important;

}

.carousel-item .btn:hover{
  border-color: var(--blue)!important;
}

/*title*/
.title h2::before{
  position: absolute;
  content: "";
  width: 4px;
  height: 50px;
  background-color: var(--blue);
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
}

/*collection*/
.active-filter-btn{
  background-color: var(--blue)!important;
  color: #fff!important;
  border-color: var(--blue)!important;
}

.filter-button-group .btn:hover{
  color: #fff!important;
}
.collection-img span{
  top: 20px;
  right: 20px;
  width: 46px;
  height: 46px;
  border-radius: 50%;
}

/*special*/
.special-img span{
  top: 20px;
  right: 20px;
}
.special-list .btn{
  padding: 8px 20px!important;
}
.special-img img{
  transition: all 0.3s ease;
}
.special-img:hover img{
  transform: scale(1.2);
}

.laptop1{
  width: 100%;

}

.laptop-1 img{
  transition: all 0.3s ease;
}
.laptop-1:hover img{
  cursor: pointer;
  transform:scale(1.2);
}

.font1{
  font-size: 12px;
}


.logo{
  width: 40%;

}


.card{
  margin: 20px;

}

.fs{
  font-size: 65px;
  font-weight: 700;
}

.fs1{
  font-size: 25px;
  font-style: italic;
}

.card-text{
  text-align: justify;
}

#products .title h2{
  font-size: 60px;
  font-weight: bold;
}

#about .title h2{
  font-size: 60px;
  font-weight: bold;
}

#team{
  position: relative;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*team*/

#team .content h2 {
  font-size: 60px;
  font-weight: bold;
}

.theTeam{
  margin: 20px 40px;
}

.heading{
  font-size: 60px;
}

.heading span { 
  font-style: italic;
  font-size: 30px;
}

.profiles{
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.profile{
  flex-basis: 260px;
}

.profile .profile-img{
  height: 260px;
  width: 260px;
  border-radius: 50%;
  filter: grayscale(100%);
  cursor: pointer;
  transition: 400ms;
}

.profile:hover .profile-img{
  filter:grayscale(0);
}

.user-name{
  margin-top: 30px;
  font-size: 35px;
}

.profile h5{
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 3px;
}

.profile p {
  font-size: 16px;
  margin-top: 20px;
  text-align: justify
}

.profiles .profile h3{
  color: #ce5104;
}

/*contacts*/


#contact{
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#contact .content{
  max-width: 800px;
  text-align: center
}

#contact .content p{
  color: #ce5104;
}

#contact .content h2{
font-size: 60px;
font-weight: bold;
}

.contactUs {
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top:30px;
}

.contactUs .contactInfo{
  width: 50%;
  display: flex;
  flex-direction: column;
}

.contactUs .contactInfo h3{
color: #ce5104;
}

.contactUs .contactInfo .box{
  position: relative;
  padding: 20px 0;
  display: flex;
}

.contactUs .contactInfo .box .icon{
min-width: 60px;
height: 60px;
background: #fff;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
font-size: 22px
}

.contactUs .contactInfo .box .text{
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  flex-direction: column;
  font-weight: 340;
}

.contactUs .contactInfo .box .text h3{
  font-weight: 550;
}

.contactForm{
  width: 40%;
  padding: 40px;
  background: rgb(255, 255, 255);
  border-radius: 30px;

}

contactForm h2{
  font-size: 30px;
  color: #333;
  font-weight: 500;
}

.contactForm .inputBox{
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
  width: 100%;
  padding: 5px 0;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.contactForm .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
  color: #c95b02;
  font-size: 12px;
  transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"]
{
  width: 100px;
  background: #c95b02;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}


/*footer*/
footer .brand{
  font-family: var(--lg-font);
  letter-spacing:2px;
}

footer a{
  transition: color 0.3s ease;
}

footer a:hover{
  color: rgb(255, 255, 255);
}

.lead{
  font-size: 17px;
  text-align: justify;
}



/*media queries*/
@media(min-width: 992px){
  .nav-item{
    border-bottom: none;   
  }
}

