.staticPosition{
    border: 2px solid #7A08FF;
    /*top: 5; - top, bottom, left and right are not working because this is set as default*/
}

.relativePosition{
    position: relative;
    border: 2px solid #0302FB;
    left: 150px;
}

.absolutePosition{
    position: absolute;
    border: 2px solid #ad7c01;
    width: 300px;
    top: 310px;
}

.fixedPosition {
    position: fixed;
    border: 2px solid #540055;
    top: 270px;
}

.stickyPosition{
    position: -webkit-sticky; /*safari*/
    position: sticky;
    border: 2px solid #218700;
    top: 10;
    left: 20px;
    padding: 5px;
}

img{
    width: 150px;
    height: 100px;
}

/* img .staticPosition{
    border: 3px solid pink ;
} */

img .staticPosition{
    position: static;
    /*even it is not declared it will still show the same position because it is defult in nature*/
}

img .relativePosition{
    top: 100px
}

.snoopyFixed{
    position: fixed;
    top: 300px;
    margin-left: 400px;
    height: auto;
    width: 150px;
    border: 2px solid gold;
}

.buttonClick{
    position: fixed;
    top: 550px;
    margin-left: 20px;
    
}