@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,500&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; /*for rersponsive*/
    font-family: Poppines;
    overflow: auto;
    
}

.a[
    text-align
]

main {
    width:100vw;
    height: 100vw;
    background-color: #f2f2f2;

}

nav h1{
    color: white;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
    background-color: #99c4c8;

}
.navs ul{
      display: flex;
      list-style-type: none;

}

.navs li a{
        font-size: 20px;    
        text-decoration: none;
        color:white;
        margin: 0 30px;/* left and right margin space. */
        
}       
        
.navs ul li a:hover{
        background-color: rgb(146, 13, 35);

}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10%;
 }


footer h3{
    margin-bottom: 15px;

}

 .footerline{
    width: 100%;
    height: 1px;
    background-color: BLACK;
 }

 .ada {
    background-color: rgb(238, 134, 134);
    display: flex;
    padding: 20px;
    margin: 40px;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 50px;
    
    
 }

 #picture {
    display: inline-block, flex;
    padding-left: 270px;
    justify-content: flex-start;
    width: 570px;
 }

 .whoisshe{
    font-style: italic;
    display: flex;
    padding: 40px;
    justify-content: center;
    color: rgb(238, 134, 134);
    font-size: 40px;
 }

 .first{
    font-style: italic;
    display: flex;
    padding: 40px;
    justify-content: center;
    color: rgb(238, 134, 134);
    font-size: 40px;
 }

 @media screen and (min-width: 1024px) {
    
 }

 .paragraph{

    margin-left: 150px;
    margin-right: 150px;
    font-size: 20px
 }

 .lady{
    display: flex;
    font-size: 15px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 40px;
    font-style: italic;
 }

