*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 180vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    background-color: rgb(155, 107, 3);

}

.login{
    font-style: bold;
    width: 700px;
    height:min-content;
    padding: 20px;
    border-radius: 15px;
    background: rgb(175, 147, 71);

}

.btn{
    font-size: 20px;
    margin-top: 15px;
    border-radius: 30px;
    border: 30px;
}

.radio{
    margin-top: 20px;
    text-align: center;
}

.location{
    display: flex;
    text-align: center;
}

.request{
    display: flex;
    margin-top:20px;
}

.description{
    display: block;
    margin-top:20px;
    text-align: center;
}